* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: lightgray;
  background-image: url("/backgrounds/blurs/sakura_blur.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
body .page {
  min-height: calc(100vh - 2.25em);
}

#MainInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 30em;
  border-radius: 0.5rem;
  background-color: white;
}
#MainInput #mainInput {
  width: 100%;
  padding: 0.75em;
  box-sizing: border-box;
  z-index: 1000;
  text-align: center;
  border-radius: 0.5rem;
  border: 2px solid rgba(211, 211, 211, 0);
  box-shadow: 0px 0em 0.5em 0em rgba(0, 0, 0, 0.25);
  background-color: white;
}
#MainInput #mainInput:focus {
  outline: none;
  border-color: gray;
}
#MainInput #underMainInput {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: white;
}
#MainInput #underMainInput.hidden {
  height: 0;
  padding: 0;
}
#MainInput #underMainInputvisible {
  height: auto;
}
#MainInput #underMainInput #selection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1.5em;
}
#MainInput #underMainInput #selection .section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#MainInput #underMainInput #selection .section .prompt {
  margin-bottom: 0.35em;
}
#MainInput #underMainInput #selection .word_selection {
  min-width: 9em;
  width: auto;
}
#MainInput #underMainInput #selection .word_selection .words {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
#MainInput #underMainInput #selection .word_selection .words .input_label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  box-sizing: border-box;
  margin-bottom: 0.66em;
  border-radius: 0.5em;
  border: 2px solid rgba(211, 211, 211, 0);
  background-color: white;
}
#MainInput #underMainInput #selection .word_selection .words .input_label .number_key {
  opacity: 50%;
}
#MainInput #underMainInput #selection .word_selection .words .input_label .text {
  display: flex;
  align-items: center;
  margin-top: 0.166em;
}
#MainInput #underMainInput #selection .word_selection .words .word:focus,
#MainInput #underMainInput #selection .word_selection .words .word:hover {
  outline: none;
  border-color: lightgray;
  cursor: pointer;
}
#MainInput #underMainInput #selection .definition #meaning {
  height: 100%;
  padding: 0.75em;
  box-sizing: border-box;
  border-radius: 0.25em;
  border: 2px solid lightgray;
  resize: vertical;
}
#MainInput #underMainInput #selection .definition #meaning:focus {
  outline: none;
}
#MainInput #underMainInput .create_note {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.33em;
  box-sizing: border-box;
  border-radius: 0.25em;
  border: 2px solid #b7fff1;
  color: rgb(67, 67, 67);
  background-color: white;
}
#MainInput #underMainInput .create_note:hover,
#MainInput #underMainInput .create_note:focus {
  outline: none;
  cursor: pointer;
  background-color: #b7fff1;
}
#MainInput #underMainInput .create_note:active {
  border-color: #7bbaae;
  background-color: #7bbaae;
}/*# sourceMappingURL=MainInput.css.map */